<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% include "bootstrap.html" %}
    <title>vlr.gg statistics</title>
    <link rel="shortcut icon" href="/static/images/logo_lt.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{%static 'css/display.css' %}?v=1" />
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "user-select">
        <form method="post" autocomplete="off" action = "">
            <div class = "search-container">
                {% csrf_token %}
                {{ form.username }}
                <button type="submit" id="scrapeBtn">
                    <i id = "submitIcon" class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
        <button type="button" id="cancelBtn">Cancel</button>                
        </form>
    </div>

    <span id = "header-content">
        {% if is_completed == 1%}
            {{username}}'s Statistics
        {% elif first_time == 1 %}
            Welcome!
        {% elif error == 1 %}
            Error Invalid Username
        {% else %}
            Searching...
        {% endif %}
    </span>
    {% if is_completed == 0 and first_time == 0 %}
        <span class="spinner-border" style="width: 4rem; height: 4rem;" role="status" aria-hidden="true"></span>
    {% elif first_time == 1 %}
    <div>enter a username to view stats</div>
    {% elif error == 0%}
        {% for post in posts %}
            <span class="stat-label">Total Upvotes:</span>
            <span class="stat-value">{{ post.upvotes }}</span>
            <span class="stat-label">Total Downvotes:</span>
            <span class="stat-value">{{ post.downvotes }}</span>
            <span class="stat-label">+/- Votes:</span>
            <span class="stat-value">{{ post.upvotes|add:post.downvotes }}</span>
            <span class="stat-label">Biggest Upvote:</span>
            <span class="stat-value">{{ post.biggest_upvote }}</span>
            <a href="{{ post.biggest_upvote_url }}" target="_blank">View Biggest Upvote</a>
        {% endfor %}
    {% endif %}
    <a href="" target="_blank" class="footer-link"><i class="fab fa-github"></i>View on GitHub</a>                 
  </body>
  <script src = "/static/js/display.js"></script>
</html>